services:
  - type: web
    name: cocteleria-backend
    env: node
    region: oregon
    plan: free
    buildCommand: cd backend && npm install
    startCommand: cd backend && npm start
    envVars:
      - key: NODE_VERSION
        value: 20.19.5
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
